*{
    box-sizing:border-box;
}

h1{color:green;
font-family:Cinzel;
text-align:center;
font-size:6em;
}

 /* #p1life{
padding-left:20%;
}

#p2life{
padding-right:20%;
}  */

h2{
    font-family:Rock Salt;
    font-size:1.4em;
}

 body{
     /* padding-top:8%;  */
     text-align:center; 
    font-family:Nunito;
 
    background-size: 100% 100%;
}


input{
    text-align:center;
}

button{
    font-size:1.5em;
    font-family:Bellefair;
}

.loser{
    color:red;
}