h1{color:white;
font-family:Cinzel;
text-align:center;
font-size:6em;
}

h2{
    font-family:Rock Salt;
    font-size:1.4em;
}

body{padding-top:8%;
    text-align:center;
    font-family:Nunito;
    background-image: url("wall2.jpg");
    background-size: 100% 100%;
}


input{
    text-align:center;
}

button{
    font-size:2em;
    font-family:Bellefair;
}

.loser{
    color:red;
}